div#courseRow{
    display: none;
}
button#dropdownMenuAvatar{
    border: 1px solid #ced4da;
    padding: 3px;
}

ul.dropdown-menu{
    min-width: 56px;
}

ul.dropdown-menu > li{
    padding: 4px 0px;
    cursor: pointer
}

@media screen and (max-device-width: 540px) {
    div.nav-tabs{
        justify-content: space-between;
    }
    div.nav-tabs form{
        flex-basis: 100%;
        height: 50px;
    }
    div.nav-tabs form span{
        height: 50px;
    }
}
