li.list-group-item {
    min-height: 130px;
}
span{
    cursor: pointer;
}
.edit, .add{
    display: none;
}

h4 {
    border: 1px solid #dfdfdf;
    margin-bottom: -3px;
    padding: 15px;
    border-radius: 3px;
}

select {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0;
    outline: none
}

select.teacher_id {
    margin-bottom: 5px;
}
div.row.default, div.row.edit, div.row.add {
    min-width: 85px;
}

div.row.default {
    display: inline-block;
}
